<form [formGroup]="mgUI" (ngSubmit)="onSubmit()" *ngIf="!!mgUI">
  <div class="form-control">
    <!-- check with CSS options with angular material-->
    <mat-form-field appearance="fill">
      <mat-label>Group Id</mat-label>
      <mat-select formControlName="groupId" multiple required>
        <mat-option *ngFor="let group of groups" [value]="group.id">
          {{group.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="groupIdControl.hasError('required')">Please choose an ID</mat-error>
      <mat-hint>{{mgUI.value.groupId}}</mat-hint>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Operation</mat-label>
    <mat-select formControlName="operation" multiple required>
      <mat-option *ngFor="let operation of operations" [value]="operation.name">
        {{operation.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="operationControl.hasError('required')">Please Choose an Operation</mat-error>
  </mat-form-field>
  <div class="example-form" formGroupName="type">
    <mat-form-field appearance="fill">
      <mat-label>EntityType</mat-label>
      <mat-select formControlName="entityType" (valueChange)="onSelect($event)" required>
        <mat-option *ngFor="let entities of entity" [value]="entities.name">
          {{entities.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="entityControl.hasError('required')">Please Choose an Entity</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Company name" name="name" formControlName="name">
      <mat-hint><strong>Please keep an unique name</strong> </mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput formControlName="_id" [value]="this.newName">
    </mat-form-field>
  </div>
  <p>
    <mat-checkbox formControlName="eachRowUniqueEntity">Row Unique Entity</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="matchCargosByOrderNumber">Cargo Order Number</mat-checkbox>
  </p>
  <!---------------------------------------------------------------------------------------------------------------->
  <div formArrayName="columns">
    <div *ngFor="let column of columns().controls; let colIndex = index">
      <h3>Columns</h3>
      <div [formGroupName]="colIndex">
        <ng-container formArrayName="name">
          <h4>Headers:</h4>
          <ng-container *ngFor="let alias of newExcelHeaders(colIndex).controls; let hrdIndex=index">
            <mat-form-field appearance="fill">
              <mat-label>Excel Header</mat-label>
              <input matInput type="text" [formControlName]="hrdIndex" placeholder="enter a new Excel Header">
            </mat-form-field>
            <button mat-icon-button type="button" color="warn" (click)="removeHeader(colIndex, hrdIndex)">
              <mat-icon>indeterminate_check_box</mat-icon>
            </button>
          </ng-container>
          <button mat-icon-button type="button" color="primary" (click)="addNewHeader(colIndex)">
            <mat-icon>add</mat-icon>
          </button>
        </ng-container>
        <div class="add-Fields-form">
          <ng-container formArrayName="fields">
            <h4>Fields:</h4>
            <ng-container *ngFor="let regexFunc of fieldFunctions(colIndex).controls; let fieldIndex = index">
              <div class="mapping-form-row" [formGroupName]="fieldIndex">
                <mat-form-field appearance="fill">
                  <mat-label>Field Name</mat-label>
                  <mat-select formControlName="fieldName" (valueChange)="onChange($event, $event)" #ref>
                    <mat-option *ngFor="let shipments of shipment" [value]="shipments.fieldName">
                      {{shipments.name}}
                    </mat-option>
                    <mat-option *ngFor="let procurements of procurement" [value]="procurements.fieldName">
                      {{procurements.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!------------------------------------referenceValue--------------------------------------------------->
                <mat-form-field *ngIf="ref.value === 'referenceValueField'" appearance="fill">
                  <input matInput #newRef placeholder="Additional Reference"
                    (blur)="updateAdditionalReferenceInFormControl(column,fieldIndex, newRef.value)"
                    formControlName="fieldNames" />
                </mat-form-field>
                <!----------------------------------------end---------------------------------------------------------->
                <div class="add-Regexs-form">
                  <ng-container formArrayName="regexToApply">
                    <h4>Regex Function:</h4>
                    <ng-container
                      *ngFor="let regexFunc of regexFunctions(colIndex,fieldIndex).controls; let mapIndex = index">
                      <div class="mapping-form-row" [formGroupName]="mapIndex">
                        <mat-form-field appearance="fill">
                          <input matInput formControlName="regexToSearch" placeholder="regex">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <input matInput formControlName="replaceWith" placeholder="Value to replace">
                        </mat-form-field>
                        <p>
                          <mat-checkbox formControlName="useMatchedValue">Use Match Value</mat-checkbox>
                        </p>
                        <button mat-mini-fab color="accent" (click)="removeRegex(colIndex,fieldIndex,mapIndex)"
                          type="button">
                          <mat-icon class="remove-mapping-btn">delete</mat-icon>
                        </button>
                      </div>
                    </ng-container>
                  </ng-container>
                  <button mat-mini-fab type="button" (click)="addNewRegex(colIndex,fieldIndex)">
                    <mat-icon class="add-mapping-btn">add</mat-icon>
                  </button>
                </div>
                <button mat-mini-fab color="accent" (click)="removeFields(colIndex,fieldIndex)" type="button">
                  <mat-icon class="remove-mapping-btn">delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </ng-container>
          <button mat-mini-fab type="button" (click)="addNewField(colIndex)">
            <mat-icon class="add-mapping-btn">add</mat-icon>
          </button>
        </div>
        <!--------------------------------------importable------------------------------------------------->
        <div class="add-importable-form">
          <ng-container formArrayName="importable">
            <h4>Importable:</h4>
            <ng-container *ngFor="let regexFunc of importableFunctions(colIndex).controls; let impIndex = index">
              <div class="mapping-form-row" [formGroupName]="impIndex">
                <mat-form-field appearance="fill">
                  <mat-label>Applicable To</mat-label>
                  <input matInput formControlName="applicableTo" placeholder="applicable to">
                </mat-form-field>
                <div class="add-Regexs-form">
                  <ng-container formArrayName="when">
                    <h4>Conditions When:</h4>
                    <ng-container
                      *ngFor="let regexFunc of importableCdnFunctions(colIndex,impIndex).controls; let cdnIndex = index">
                      <div class="mapping-form-row" [formGroupName]="cdnIndex">
                        <mat-form-field appearance="fill">
                          <mat-label>Operation</mat-label>
                          <input matInput formControlName="operation" placeholder="operation">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Value</mat-label>
                          <input matInput formControlName="value" placeholder="Value">
                        </mat-form-field>
                        <button mat-mini-fab color="accent" (click)="removeCdn(colIndex,impIndex,cdnIndex)"
                          type="button">
                          <mat-icon class="remove-mapping-btn">delete</mat-icon>
                        </button>
                      </div>
                    </ng-container>
                  </ng-container>
                  <button mat-mini-fab type="button" (click)="addNewCdn(colIndex,impIndex)">
                    <mat-icon class="add-mapping-btn">add</mat-icon>
                  </button>
                </div>
                <button mat-mini-fab color="accent" (click)="removeImportable(colIndex,impIndex)" type="button">
                  <mat-icon class="remove-mapping-btn">delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </ng-container>
          <button mat-mini-fab type="button" (click)="addNewImportable(colIndex)">
            <mat-icon class="add-mapping-btn">add</mat-icon>
          </button>
        </div>
        <!-----------------------------------------end------------------------------------------------->
        <!--------------------------------------Condition---------------------------------------------->
        <div class="add-condition-form">
          <ng-container formArrayName="condition">
            <h4>Conditions:</h4>
            <ng-container *ngFor="let regexFunc of conditionFunctions(colIndex).controls; let cdnsIndex = index">
              <div class="mapping-form-row" [formGroupName]="cdnsIndex">
                <div class="add-whenCdn-form">
                  <ng-container formArrayName="when">
                    <h4>Conditions When:</h4>
                    <ng-container
                      *ngFor="let cdnsFunc of conditionsFunctions(colIndex,cdnsIndex).controls; let whenIndex = index">
                      <div class="mapping-form-row" [formGroupName]="whenIndex">
                        <mat-form-field appearance="fill">
                          <mat-label>Operation</mat-label>
                          <input matInput formControlName="operation" placeholder="operation">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Value</mat-label>
                          <input matInput formControlName="value" placeholder="Value">
                        </mat-form-field>
                        <div class="add-RegexsCdns-form">
                          <ng-container formArrayName="regexToApply">
                            <h4>Condition Regex Function:</h4>
                            <ng-container
                              *ngFor="let regexFunc of conditionsRegexFunctions(colIndex,cdnsIndex,whenIndex).controls; let rgxIndex = index">
                              <div class="mapping-form-row" [formGroupName]="rgxIndex">
                                <mat-form-field appearance="fill">
                                  <input matInput formControlName="regexToSearch" placeholder="regex">
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                  <input matInput formControlName="replaceWith" placeholder="Value to replace">
                                </mat-form-field>
                                <p>
                                  <mat-checkbox formControlName="useMatchedValue">Use Match Value</mat-checkbox>
                                </p>
                                <button mat-mini-fab color="warn" (click)="removeCdnsRegex(colIndex,cdnsIndex,whenIndex,rgxIndex)"
                                  type="button">
                                  <mat-icon class="remove-mapping-btn">delete</mat-icon>
                                </button>
                              </div>
                            </ng-container>
                          </ng-container>
                          <button mat-mini-fab type="button" (click)="addNewCdnsRegex(colIndex,cdnsIndex,whenIndex)">
                            <mat-icon class="add-mapping-btn">add</mat-icon>
                          </button>
                        </div>
                        <button mat-mini-fab color="accent" (click)="removeCdns(colIndex,cdnsIndex,whenIndex)"
                          type="button">
                          <mat-icon class="remove-mapping-btn">delete</mat-icon>
                        </button>
                      </div>
                    </ng-container>
                  </ng-container>
                  <button mat-mini-fab type="button" (click)="addNewCdns(colIndex,cdnsIndex)">
                    <mat-icon class="add-mapping-btn">add</mat-icon>
                  </button>
                </div>
                 <ng-container formGroupName = "then">
                  <h4>Conditions then</h4>
                <mat-form-field appearance="fill">
                  <mat-label>Column Name</mat-label>
                  <input matInput formControlName="columnName" placeholder="Column Name">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Operation</mat-label>
                  <input matInput formControlName="operation" placeholder="operation">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Value</mat-label>
                  <input matInput formControlName="value" placeholder="value">
                </mat-form-field>
              </ng-container> 
                <button mat-mini-fab color="accent" (click)="removeConditions(colIndex,cdnsIndex)" type="button">
                  <mat-icon class="remove-mapping-btn">delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </ng-container>
          <button mat-mini-fab type="button" (click)="addNewConditions(colIndex)">
            <mat-icon class="add-mapping-btn">add</mat-icon>
          </button>
        </div>
        <!-----------------------------------------end------------------------------------------------->
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select required formControlName="type">
            <mat-option *ngFor="let shipmentTypes of shipmentType" [value]="shipmentTypes.type">
              {{shipmentTypes.type}}
            </mat-option>
            <mat-option *ngFor="let procurementTypes of procurementType" [value]="procurementTypes.type">
              {{procurementTypes.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p>
          <mat-checkbox formControlName="primaryKey">Primary Key</mat-checkbox>
        </p>
        <mat-form-field appearance="fill">
          <mat-label>Primary Key Order </mat-label>
          <input matInput type="number" placeholder="Ex. 1" formControlName="primaryKeyOrder" autocomplete="off"
            min="0">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Primary Key Field </mat-label>
          <mat-select formControlName="primaryKeyField">
            <mat-option *ngFor="let shipmentTypes of shipmentType" [value]="shipmentTypes.fieldName">
              {{shipmentTypes.fieldName}}
            </mat-option>
            <mat-option *ngFor="let procurementTypes of procurementType" [value]="procurementTypes.fieldName">
              {{procurementTypes.fieldName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Prefix</mat-label>
          <input matInput type="text" formControlName="prefix" placeholder="enter a prefix">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Sufix</mat-label>
          <input matInput type="text" formControlName="suffix" placeholder="enter a suffix">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Default Value </mat-label>
          <input matInput type="text" placeholder="Ex: Carton" formControlName="defaultValue" autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>External Id Order </mat-label>
          <input matInput type="number" placeholder="Ex. 1" formControlName="externalIdOrder" autocomplete="off"
            min="0">
        </mat-form-field>
        <ng-container formArrayName="exportCategory">
          <h4>Export Category:</h4>
          <ng-container *ngFor="let alias of exportCategory(colIndex).controls; let expIndex=index">
            <mat-form-field appearance="fill">
              <mat-label>Export Category</mat-label>
              <input matInput type="text" [formControlName]="expIndex" placeholder="enter a export category">
            </mat-form-field>
            <button mat-icon-button type="button" color="warn" (click)="removeExport(colIndex, expIndex)">
              <mat-icon>indeterminate_check_box</mat-icon>
            </button>
          </ng-container>
          <button mat-icon-button type="button" color="primary" (click)="addNewExport(colIndex)">
            <mat-icon>add</mat-icon>
          </button>
        </ng-container>
        <ng-container formArrayName="excludeFromIdentifier">
          <h4>Exclude From Identifier:</h4>
          <ng-container *ngFor="let alias of excludeFromIdentifiers(colIndex).controls; let idnIndex=index">
            <mat-form-field appearance="fill">
              <mat-label>Exclude From Identifier</mat-label>
              <input matInput type="text" [formControlName]="idnIndex" placeholder="enter a Exclude From Identifier">
            </mat-form-field>
            <button mat-icon-button type="button" color="warn" (click)="removeIdentifier(colIndex, idnIndex)">
              <mat-icon>indeterminate_check_box</mat-icon>
            </button>
          </ng-container>
          <button mat-icon-button type="button" color="primary" (click)="addNewIdentifier(colIndex)">
            <mat-icon>add</mat-icon>
          </button>
        </ng-container>
        <p>
          <mat-checkbox formControlName="exportable">Exportable</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="showOnlyDate">Show Only-Date</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="showOnlyTime">Show Only-Time</mat-checkbox>
        </p>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="description" placeholder="enter a description">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enum Type</mat-label>
          <mat-select formControlName="enumType">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let shipmentTypes of shipmentType" [value]="shipmentTypes.enumType">
              {{shipmentTypes.enumType}}
            </mat-option>
            <mat-option *ngFor="let procurementTypes of procurementType" [value]="procurementTypes.enumType">
              {{procurementTypes.enumType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div formGroupName="csvProperties">
          <mat-form-field appearance="fill">
            <mat-label> CSV Index </mat-label>
            <input matInput type="number" placeholder="Ex. 1" formControlName="csvIndex" autocomplete="off" min="0"
              [defaultValue]="0">
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Multi Value Delimiters</mat-label>
          <mat-select formControlName="multiValueDelimiter" multiple>
            <mat-option *ngFor="let delimiter of delimiters" [value]="delimiter.name">
              <span [style.font-weight]="'bold'">{{delimiter.name}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Delete When Not Matching</mat-label>
          <mat-select formControlName="deleteWhenNotMatching" multiple>
            <mat-option *ngFor="let shipmentTypes of shipmentType" [value]="shipmentTypes.name">
              {{shipmentTypes.name}}
            </mat-option>
            <mat-option *ngFor="let procurementTypes of procurementType" [value]="procurementTypes.name">
              {{procurementTypes.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="add-mappings-form">
          <ng-container formArrayName="valueMappings">
            <h4>Value Mapping:</h4>
            <ng-container *ngFor="let valueMapping of valueMappings(colIndex).controls; let mapIndex = index">
              <div class="mapping-form-row" [formGroupName]="mapIndex">
                <mat-form-field appearance="fill">
                  <mat-select formControlName="limbiqId" placeholder="Value Mapping Lq"
                    (selectionChange)="updateValueMappingKeyInFormControl(column, $event.value)">
                    <ng-container *ngFor="let fieldMap of fieldFunctions(colIndex).controls; let fieldIndex = index">
                      <ng-container *ngIf="isValidField(column, fieldIndex, 'mot')">
                        <mat-option *ngFor="let item of  motType | keyvalue" [value]="item.value">
                          {{item.key}}
                        </mat-option>
                      </ng-container>
                      <ng-container *ngIf="isValidField(column,fieldIndex, 'status')">
                        <mat-option *ngFor="let statuses of status | keyvalue" [value]="statuses.key">
                          {{statuses.value}}
                        </mat-option>
                      </ng-container>
                      <ng-container *ngIf="isValidField(column,fieldIndex, 'incoterm')">
                        <mat-option *ngFor="let incoterms of incotermType | keyvalue" [value]="incoterms.value">
                          {{incoterms.key}}
                        </mat-option>
                      </ng-container>
                      <ng-container *ngIf="isValidField(column,fieldIndex, 'onCarriage')">
                        <mat-option *ngFor="let OnCarriages of OnCarriageType | keyvalue" [value]="OnCarriages.key">
                          {{OnCarriages.value}}
                        </mat-option>
                      </ng-container>
                      <ng-container *ngIf="isValidField(column,fieldIndex, 'shipmentType')">
                        <mat-option *ngFor="let shipmentTypeValMaps of shipmentTypeValMap"
                          [value]="shipmentTypeValMaps.name">
                          {{shipmentTypeValMaps.value}}
                        </mat-option>
                      </ng-container>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <input matInput #valMap
                    (blur)="updateValueMappingValueInFormControl(column, valMap.value, colIndex, mapIndex)"
                    formControlName="companyId" placeholder="Value Mapping Company">
                </mat-form-field>
                <button mat-mini-fab color="accent" (click)="removeMapping(colIndex,mapIndex)" type="button">
                  <mat-icon class="remove-mapping-btn">delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </ng-container>
          <button mat-mini-fab (click)="addNewMapping(colIndex)" type="button">
            <mat-icon class="add-mapping-btn">add</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <button mat-raised-button color="warn" (click)="removeColumn(colIndex)" type="button">
          Delete Column
        </button>
      </div>
    </div>
    <br>
    <div class="add-columns">
      <button mat-raised-button color="primary" type="button" (click)="addNewColumn()">
        Add Column
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <br>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
<div class="form-val">
  {{mgUI.value | json}}
</div>
