<form>
  <img src="../../../assets/images/limbiq_logo.jpg" width="150" height="75" display:block> <br>
  <div class="form-control">
    <label for="groupId"> Group ID: </label>
    <input type="text" name="groupId" placeholder="Choose group id">
  </div>
  <div class="form-control">
    <label for="operation"> Operation: </label>
    <input type="text" name="operation" placeholder="Choose operation">
  </div>
  <div class="form-control">
    <label for="typeText"> Type: </label>
    <input type="text" name="type" placeholder="Choose Type">
  </div>
  <div class="form-control">
    <label for="typeText"> id: </label>
    <input type="text" name="_id" placeholder="Choose Type">
  </div>
  <div class="form-control">
    <label for="typeText"> name: </label>
    <input type="text" name="name" placeholder="Choose Type">
  </div>
  <div class="form-control">
    <label for="typeText"> entityType: </label>
    <input type="text" name="entityType" placeholder="Choose Type">
  </div>
</form>
